<!--{template header}-->
<!--{eval $adlist = $this->fromcache("adlist");}-->
<!--{template banner}-->
<!--内容部分--->
<div class="content-body bgcolor">
<div class="container  ">

        <!--{if (isset($adlist['index']['middle1']) && trim($adlist['index']['middle1']))}-->
        <div>{$adlist['index']['middle1']}</div>
        <!--{/if}-->
<div class="row ask_item">

<div class="col-md-9 col-xs-12">
<h3 class=" f14 cGray ask_title">
            
          
                        <span class="cGray xm-tags hand" data-tag="tag-nosolve" data-bn-ipg="ask-index-recent">最新问题</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="ask-index-hot xm-tags hand" data-tag="tag-score"  data-bn-ipg="ask-index-recent ">积分悬赏问题</span>
                                         

                        &nbsp;&nbsp;&nbsp;&nbsp;
                         <span class="ask-index-hot xm-tags hand" data-tag="tag-solvelist" data-bn-ipg="ask-index-noanswerask-index-noanswer ">已解决问题</span>
                    </h3>
                    
                    
                    <div class="ask_item_main fl">
                    
                    <div class="ask_item_main_item xm-tag tag-nosolve">
                    
                      <!--{eval $nosolvelist=$this->fromcache('nosolvelist');}-->
                <!--{loop $nosolvelist $index $question}-->
                    <div class="ask_item_main_item_list clearfix">
                 
                   
                        <div class="ui_headPort" alt="6397320">
                    
        
        {if $question['hidden']==1}
        <a class="avatar" >
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="javascript:void(0)" >匿名用户</a>
        {else}
        <a onmouseover="pop_user_on(this, '{$question['authorid']}', 'text');"  onmouseout="pop_user_out();" class="avatar" href="{url user/space/$question['authorid']}" target="_blank">
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="{url user/space/$question['authorid']}" target="_blank">{$question['author']}</a>
        {/if}
             {if $question['askuid']>0}
                      对<span class="text-danger">{$question['askuser']['username']}</span>
                  {/if}
        
                提了一个问题 <span class="ico_point">.</span> {$question['format_time']}

    </div>
       {if $question['shangjin']!=0}
                      <span class="icon_hot">悬赏$question['shangjin']元</span>
                    {/if}
                 {if $question['hasvoice']!=0}
                      <span class="icon_green">语音偷听</span>
                    {/if}
                        {if $question['askuid']>0}
                      <span class="icon_zise">邀请回答</span>
                  {/if}
    <div class="ask_item_main_item_list_content">
        <h4 class="ask_item_main_item_list_title"><a href="{url question/view/$question['id']}" target="_blank" class="qyer_spam_text_filter" data-bn-ipg="ask-index-question">{$question['title']}</a></h4>
        <blockquote class="qyer_spam_text_filter"> {eval echo strip_tags($question['description']);}</blockquote>
        <div class="ask_item_main_item_list_tab">
            <div class="color-gray ask_item_bot_right ">
                <span> <i class="icon icon-comment"></i> {$question['answers']} 个回答</span>
                                <span class="line">|</span>
                <span><i class="icon icon-eye-open"></i> {$question['views']} 人浏览</span>
                                
            </div>
            <!--{if  $question['tags']}--> 
            <!--{loop $question['tags'] $tag}-->
              
                 <a href="{url tag-$tag}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$tag}</strong></a>
                  
                <!--{/loop}-->
                
                   <!--{else}-->
                   {if $question['category_name']!=''}
                     <a href="{url category/view/$question['cid']}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$question['category_name']}</strong></a>
                    {/if}
                   <!--{/if}-->    
                                                                    
        </div>
        
        <div class="clear"></div>
    </div>
</div>
 <!--{/loop}-->
                    
                    </div>
                    
                      <div class="ask_item_main_item xm-tag tag-score hide">
                    
                       <!--{eval $nosolvelist=$this->fromcache('rewardlist');}-->
                <!--{loop $nosolvelist $index $question}-->
                    <div class="ask_item_main_item_list clearfix">
                        <div class="ui_headPort" alt="6397320">
               
        {if $question['hidden']==1}
        <a class="avatar" >
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="javascript:void(0)" >匿名用户</a>
        {else}
        <a onmouseover="pop_user_on(this, '{$question['authorid']}', 'text');"  onmouseout="pop_user_out();" class="avatar" href="{url user/space/$question['authorid']}" target="_blank">
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="{url user/space/$question['authorid']}" target="_blank">{$question['author']}</a>
        {/if}
        
                提了一个问题 <span class="ico_point">.</span> {$question['format_time']}

    </div>
    {if $question['shangjin']!=0}
                     <span class="icon_hot">悬赏$question['shangjin']元</span>
                    {/if}
                  {if $question['hasvoice']!=0}
                      <span class="icon_green">语音偷听</span>
                    {/if}
    <div class="ask_item_main_item_list_content">
        <h4 class="ask_item_main_item_list_title"><a href="{url question/view/$question['id']}" target="_blank" class="qyer_spam_text_filter" data-bn-ipg="ask-index-question">{$question['title']}</a></h4>
        <blockquote class="qyer_spam_text_filter"> {eval echo strip_tags($question['description']);}</blockquote>
        <div class="ask_item_main_item_list_tab">
            <div class="color-gray ask_item_bot_right ">
                <span> <i class="icon icon-comment"></i> {$question['answers']} 个回答</span>
                                <span class="line">|</span>
                <span><i class="icon icon-eye-open"></i> {$question['views']} 人浏览</span>
                                
            </div>
            <!--{if  $question['tags']}--> 
            <!--{loop $question['tags'] $tag}-->

                 <a href="{url tag-$tag}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$tag}</strong></a>
                       
                <!--{/loop}-->
                
                   <!--{else}-->
                   
                       {if $question['category_name']!=''}
                     <a href="{url category/view/$question['cid']}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$question['category_name']}</strong></a>
                    {/if}
                   <!--{/if}-->    
                                                                    
        </div>
        
        <div class="clear"></div>
    </div>
</div>
 <!--{/loop}-->
                    
                    </div>
                     <div class="ask_item_main_item xm-tag tag-shangjinscore hide">
                    
                       <!--{eval $sangjinlist=$this->fromcache('shangjinlist');}-->
                <!--{loop $sangjinlist $index $question}-->
                    <div class="ask_item_main_item_list clearfix">
                        <div class="ui_headPort" alt="6397320">
          
        {if $question['hidden']==1}
        <a class="avatar" >
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="javascript:void(0)" >匿名用户</a>
        {else}
        <a onmouseover="pop_user_on(this, '{$question['authorid']}', 'text');"  onmouseout="pop_user_out();" class="avatar" href="{url user/space/$question['authorid']}" target="_blank">
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="{url user/space/$question['authorid']}" target="_blank">{$question['author']}</a>
        {/if}
        
                提了一个问题 <span class="ico_point">.</span> {$question['format_time']}

    </div>
    {if $question['shangjin']!=0}
                     <span class="icon_hot">悬赏$question['shangjin']元</span>
                    {/if}
                  {if $question['hasvoice']!=0}
                      <span class="icon_green">语音偷听</span>
                    {/if}
    <div class="ask_item_main_item_list_content">
        <h4 class="ask_item_main_item_list_title"><a href="{url question/view/$question['id']}" target="_blank" class="qyer_spam_text_filter" data-bn-ipg="ask-index-question">{$question['title']}</a></h4>
        <blockquote class="qyer_spam_text_filter"> {eval echo strip_tags($question['description']);}</blockquote>
        <div class="ask_item_main_item_list_tab">
            <div class="color-gray ask_item_bot_right ">
                <span> <i class="icon icon-comment"></i> {$question['answers']} 个回答</span>
                                <span class="line">|</span>
                <span><i class="icon icon-eye-open"></i> {$question['views']} 人浏览</span>
                                
            </div>
            <!--{if  $question['tags']}--> 
            <!--{loop $question['tags'] $tag}-->

                 <a href="{url tag-$tag}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$tag}</strong></a>
                       
                <!--{/loop}-->
                
                   <!--{else}-->
                   
                       {if $question['category_name']!=''}
                     <a href="{url category/view/$question['cid']}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$question['category_name']}</strong></a>
                    {/if}
                   <!--{/if}-->    
                                                                    
        </div>
        
        <div class="clear"></div>
    </div>
</div>
 <!--{/loop}-->
                    
                    </div>
                    
                     <div class="ask_item_main_item xm-tag tag-hasvoice hide">
                    
                       <!--{eval $yuyinlist=$this->fromcache('yuyinlist');}-->
                <!--{loop $yuyinlist $index $question}-->
                    <div class="ask_item_main_item_list clearfix">
                        <div class="ui_headPort" alt="6397320">
            
        {if $question['hidden']==1}
        <a class="avatar" >
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="javascript:void(0)" >匿名用户</a>
        {else}
        <a onmouseover="pop_user_on(this, '{$question['authorid']}', 'text');"  onmouseout="pop_user_out();" class="avatar" href="{url user/space/$question['authorid']}" target="_blank">
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="{url user/space/$question['authorid']}" target="_blank">{$question['author']}</a>
        {/if}
        
                提了一个问题 <span class="ico_point">.</span> {$question['format_time']}

    </div>
    {if $question['shangjin']!=0}
                     <span class="icon_hot">悬赏$question['shangjin']元</span>
                    {/if}
                  {if $question['hasvoice']!=0}
                      <span class="icon_green">语音偷听</span>
                    {/if}
    <div class="ask_item_main_item_list_content">
        <h4 class="ask_item_main_item_list_title"><a href="{url question/view/$question['id']}" target="_blank" class="qyer_spam_text_filter" data-bn-ipg="ask-index-question">{$question['title']}</a></h4>
        <blockquote class="qyer_spam_text_filter"> {eval echo strip_tags($question['description']);}</blockquote>
        <div class="ask_item_main_item_list_tab">
            <div class="color-gray ask_item_bot_right ">
                <span> <i class="icon icon-comment"></i> {$question['answers']} 个回答</span>
                                <span class="line">|</span>
                <span><i class="icon icon-eye-open"></i> {$question['views']} 人浏览</span>
                                
            </div>
            <!--{if  $question['tags']}--> 
            <!--{loop $question['tags'] $tag}-->

                 <a href="{url tag-$tag}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$tag}</strong></a>
                       
                <!--{/loop}-->
                
                   <!--{else}-->
                   
                       {if $question['category_name']!=''}
                     <a href="{url category/view/$question['cid']}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$question['category_name']}</strong></a>
                    {/if}
                   <!--{/if}-->    
                                                                    
        </div>
        
        <div class="clear"></div>
    </div>
</div>
 <!--{/loop}-->
                    
                    </div>
                    
                     <div class="ask_item_main_item  xm-tag tag-solvelist hide">
                    
                       <!--{eval $solvelist=$this->fromcache('solvelist');}-->
                <!--{loop $solvelist $index $question}-->
                    <div class="ask_item_main_item_list clearfix">
                        <div class="ui_headPort" alt="6397320">
           
        {if $question['hidden']==1}
        <a class="avatar" >
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="javascript:void(0)" >匿名用户</a>
        {else}
        <a onmouseover="pop_user_on(this, '{$question['authorid']}', 'text');"  onmouseout="pop_user_out();" class="avatar" href="{url user/space/$question['authorid']}" target="_blank">
            <img width="48" height="48" src="{$question['avatar']}">
            
        </a>
         <a class="fn" href="{url user/space/$question['authorid']}" target="_blank">{$question['author']}</a>
        {/if}
        
                提了一个问题 <span class="ico_point">.</span> {$question['format_time']}

    </div>
    {if $question['shangjin']!=0}
                 
                     <span class="icon_hot">悬赏$question['shangjin']元</span>
                    {/if}
                   {if $question['hasvoice']!=0}
                      <span class="icon_green">语音偷听</span>
                    {/if}
                    
    <div class="ask_item_main_item_list_content">
        <h4 class="ask_item_main_item_list_title"><a href="{url question/view/$question['id']}" target="_blank" class="qyer_spam_text_filter" data-bn-ipg="ask-index-question">{$question['title']}</a></h4>
        <blockquote class="qyer_spam_text_filter"> {eval echo strip_tags($question['description']);}</blockquote>
        <div class="ask_item_main_item_list_tab">
            <div class="color-gray ask_item_bot_right ">
                <span> <i class="icon icon-comment"></i> {$question['answers']} 个回答</span>
                                <span class="line">|</span>
                <span><i class="icon icon-eye-open"></i> {$question['views']} 人浏览</span>
                                
            </div>
            <!--{if  $question['tags']}--> 
            <!--{loop $question['tags'] $tag}-->

                 <a href="{url tag-$tag}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$tag}</strong></a>
                       
                <!--{/loop}-->
                
                   <!--{else}-->
                   
                      {if $question['category_name']!=''}
                     <a href="{url category/view/$question['cid']}" class="ask_tag_add" target="_blank" data-bn-ipg="ask-index-questiontag"><strong class="">{$question['category_name']}</strong></a>
                    {/if}
                   <!--{/if}-->    
                                                                    
        </div>
        
        <div class="clear"></div>
    </div>
</div>
 <!--{/loop}-->
                    
                    </div>
                    
                    </div>

</div>
<div class="col-md-3 col-xs-12 slide_right mt10">
<div class="site_notes side-box ">
<h3 class="nopadding">站内公告</h3>
<hr>
 <ul class="nav right-ul">
                <!--{eval $notelist=$this->fromcache('notelist');}-->
 <!--{loop $notelist $nindex $note}-->
       <li class="b-b-line">   <i class="quan"></i> <a target="_blank" title="{$note['title']}" {if $note['url']}href="{$note['url']}"{else}href="{url note/view/$note['id']}"{/if}>
       {eval echo cutstr({$note['title']},40,'');}
       
       {if $nindex==0}
        <span class="icon_hot">新</span>
        {/if}
       </a>
       
       </li>
        
       
       
        <!--{/loop}-->
               


            </ul>
</div>
   <!--{if $setting['hot_on']}-->
  <!--{eval $topiclist=$this->fromcache('hottopiclist');}-->
  
   <!--{if  $topiclist}-->
 <div class="site_notes side-box ">
<h3 class="nopadding">推荐文章</h3>
<hr>
   <div class="side-content">
    <ul class="nav right-ul">
                  

  <!--{loop $topiclist $nindex $topic}-->
           {if $nindex<5}
                       <li class="b-b-line"> <i class="quan"></i> <a target="_blank" href="{url topic/getone/$topic['id']}" text="{$topic['title']}">{$topic['title']}</a></li>
            {/if}         
                       <!--{/loop}-->
               


            </ul>
   </div>
</div>
   <!--{/if}-->
   
     <!--{/if}-->
	
 <!--{eval $expertlist=$this->fromcache('expertlist');}-->
  
 <!--{if $expertlist}-->
<div class="site_notes side-box ">
<h3 class="nopadding">推荐专家</h3>
<hr>


      
      
            <ul class="nav mar-b-1">
                <!--{loop $expertlist $expert}-->
             
                
                     <li class="b-b-line mar-t-1">
                <div class="row">
                <div class="col-sm-3">
                 <div class="pic"><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}"><img width="40" height="40" class="img-rounded" alt="{$expert['username']}" src="{$expert['avatar']}"  onmouseover="pop_user_on(this, '{$expert[uid]}', '');"  onmouseout="pop_user_out();"/></a></div>
                                     
                </div>
                <div class="col-sm-9 ">
                 <p class="pull-left"><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}" onmouseover="pop_user_on(this, '{$expert[uid]}', 'text');"  onmouseout="pop_user_out();">{$expert['username']}</a></p>
                    <p class="pull-right "><a href="{url question/add/$expert['uid']}" class="text-danger">
                    {if $expert['mypay']>0}
                                           付费{$expert['mypay']}元求助
                    {else}
                                          向TA求助
                    
                    {/if}
                    
                    
                                          
                    </a></p>
                   <p class="clear mar-t-05" >
                    <!--{if $expert['category']}-->
          
                <!--{loop $expert['category'] $category}-->
               <a class="label" target="_blank" href="{url category/view/$category['cid']}">{$category['categoryname']}</a>
                <!--{/loop}-->
          
            <!--{/if}-->
                  </p>
                   
                </div>
                
                </div>
                   
                   
                   
                </li>
               
                <!--{/loop}-->
            </ul>
</div>
        <!--{/if}-->
        
<div class="ask_sidebar_star mt10 side-box">
<div class="titles">

	<h3>冠军排行榜</h3>
</div>
<div class="know_star">

	

	<ul class="clearfix js_top_user_all      " >
        <p class="desc">总冠军 - 最有实力的领先者</p>
         <!--{eval $weekuserlist=$this->fromcache('alluserlist');}-->
                <!--{loop $weekuserlist $index $alluser}-->
                 <!--{eval $index++;}-->
						<li class="b-b-line number{$index}">
		<span class="ic_num">{$index}</span>
		<a href="{url user/space/$alluser['uid']}" class="img" target="_blank" data-bn-ipg="21-2-1-1" onmouseover="pop_user_on(this, '{$alluser[uid]}', 'text');"  onmouseout="pop_user_out();"><img width="30" height="30" src="{$alluser['avatar']}" alt="{$alluser['username']}" title="{$alluser['username']}"></a>
			<a title="{$alluser['username']}" href="{url user/space/$alluser['uid']}" class="text" target="_blank" data-bn-ipg="21-2-1-2">
			
			{eval echo cutstr(strip_tags(str_replace('&nbsp;','',$alluser['username'])),8,'..');}
			</a>
			<span class="nm"><em>{$alluser['credit2']}</em>分</span><p></p>

		</li>
		 <!--{/loop}-->
							</ul>
</div>
</div>

   <!--{if (isset($adlist['index']['right1']) && trim($adlist['index']['right1']))}-->
        <div>{$adlist['index']['right1']}</div>
        <!--{/if}-->

</div>

</div>

   <!--{if (isset($adlist['index']['middle2']) && trim($adlist['index']['middle2']))}-->
        <div>{$adlist['index']['middle2']}</div>
        <!--{/if}-->



</div>
</div>


<script>
var _imgs=$(".qyer_spam_text_filter").find("img");
_imgs.each(function(){
	var _width=$(this).width();
	var _height=$(this).height();
	$(this).css({"width":_width/2+"px","height":_height/2+"px"});
});
if(typeof($(".qyer_spam_text_filter").find("img").attr("data-original"))!="undefined"){
	var imgurl=$(".qyer_spam_text_filter").find("img").attr("data-original");
	$(".qyer_spam_text_filter").find("img").attr("src",imgurl);
}
$(".qyer_spam_text_filter").find("img").attr("data-toggle","lightbox");
$(".qyer_spam_text_filter").find("img").attr("class","img-thumbnail").css({"display":"block","margin-top":"3px"});
</script>
<!--{template footer}-->