<!--{template header}-->
<!--用户中心大背景--->
<div class="row nopadding nomargin">
<!--{template user_banner}-->

</div>


<!--用户中心大背景结束标记-->

<!--用户中心-->

<div class="user-home bg-white">
    <div class="container">

        <div class="row ">
            <div class="col-sm-9">
              <!-- 用户title部分导航 -->
              <!--{template user_title}-->
             <!-- title结束标记 -->
            <!-- 内容页面 --> 
    <div class="row">
                 <div class="col-sm-12">
                     <div class="dongtai">
                         <p>
                             <strong class="mar-l-1 font-18 pull-left">我的消息</strong>
                          <button type="button" class="btn btn-success mar-l-1 pull-right" onclick="javascript:document.location = '{url message/updateunread}'">清空未读消息</button>
                         <button type="button" class="btn btn-danger pull-right" onclick="javascript:document.location = '{url message/send}'">写消息</button>
                         </p>
                                       <ul class="nav nav-secondary clear mar-t-05" >
        <li <!--{if $regular=="message/personal"}--> class="active"<!--{/if}-->>
        <a href="{url message/personal}">私人消息<span class="p-msg-count icon_hot"></span></a>
        </li>
                    <li <!--{if $regular=="message/system"}--> class="active"<!--{/if}-->>
                 
                   <a href="{url message/system}">系统消息<span class="s-msg-count icon_hot"></span></a>
                    </li>
                   
             </ul>
                         <hr >
                          <form  class="form-horizontal"  name="msgform" {if $type=='system'}action="{url message/remove}"{else}action="{url message/removedialog}"{/if} method="POST" onsubmit="javascript:if (!confirm('确定删除所选消息全部内容?')) return false;">
                                 <ul class="nav">
                    <!--{loop $messagelist $message}-->
                    <li id="msg{$message['id']}" {if $message['new']}class="new"{/if}>
                      
                        <div class="row">
                          <div class="col-sm-1">
                            <!--{if $message['fromuid']}-->
                           <div class="avatar">
                            <a href="{url user/space/$message['fromuid']}" title="supermustang" target="_blank" class="pic"><img alt="{$message['from']}" src="{$message['from_avatar']}" /></a>
                        </div>
                          <!--{/if}-->
                          </div>
                          
                          <div class="col-sm-9">
                          
                           <div class="msgcontent hand">
                            <h3 class="font-12">
                                <!--{if $message['fromuid']==0}-->
                                <input type='checkbox' value="{$message['id']}" name="messageid[inbox][]"/>
                                {$message['subject']}
                                <!--{else}-->
                                <input type='checkbox' value="{$message['fromuid']}" name="message_author[]"/>
                                <a href="{url user/space/$message['fromuid']}">{$message['from']}</a> 对 <a href="{url user/score}">您</a> 说：
                                {$message['subject']}
                                <!--{/if}-->
                                
                                  <!--{if $message['new']==1}-->
                                       <span class="icon_hot">新</span>
                                                <!--{/if}-->
                                
                            </h3>
                            <!--{if $type!='system'}-->
                            <div class="detail" onclick="javascript:document.location = '{url message/view/$type/$message[fromuid]/$message['id']}';">{eval echo cutstr($message['content'],300,'')}</div>
                            <!--{else}-->
                            <div class="detail">{$message['content']}</div>
                            <!--{/if}-->
                            <div class="related">
                                <div class="pv">{$message['format_time']}</div>
                            </div>
                        </div>
                          </div>
                        </div>
                       
                   
                      
                    </li>
                    <!--{/loop}-->
                </ul>
                
                          <div class="row mar-t-1">   
                          <div class="col-sm-12">
                           <input type="checkbox" value="chkall" id="chkall" onclick="checkall('message');"/> 全选  <button type="submit"  name="submit" class="btn btn-danger" >删除</button>
                    <div class="pages">{$departstr}</div>
                          </div>                 
                   
                    <div class="clearfix"></div>
                </div>
                          </form>
                     </div>
                 </div>


             </div>
            </div>
           
            <!--右侧栏目-->
            <div class="col-sm-3 mar-t-2">


                

                <!--导航列表-->

               <!--{template user_menu}-->

                <!--结束导航标记-->


                <div>

                </div>


            </div>

        </div>

    </div>

</div>


<!--用户中心结束-->

<!--{template footer}-->