<!--{template header}-->
<!--用户中心大背景--->
<div class="row nopadding nomargin">
  <!--{template user_banner}-->

</div>


<!--用户中心大背景结束标记-->

<!--用户中心-->

<div class="user-home bg-white">
    <div class="container">

        <div class="row ">
            <div class="col-sm-9">
            <!-- 用户title部分导航 -->
              <!--{template user_title}-->
             <!-- title结束标记 -->
       <!-- 内容页面 -->  
    <div class="row">
                 <div class="col-sm-12">
                     <div class="dongtai">
                         <p>
                             <strong class="font-18">我关注的人</strong>
                         </p>
                         
                                         <ul class="nav nav-secondary">
        <li >
          <a href="{url user/follower}">关注者</a>
        </li>
        <li class="active">
          <a href="{url user/attention}">已关注</a>
        </li>
        <li >
          <a href="{url user/attention/question}">关注的问题</a>
        </li>
      
      </ul>
                         <hr>
                      

                     
                    
                    <section class="cards">
                   
                     <!--{loop $attentionlist $attention}-->
                     
                     
                      <div class="col-sm-3 mar-t-1">
                    <a title="{$attention['username']}" class="block" target="_blank" href="{url user/space/$attention['uid']}"><img width="80" height="80"  class="img-rounded" src="{$attention['avatar']}" onmouseout="pop_user_out();" onmouseover="pop_user_on(this, '{$attention['uid']}', 'image_active');" \></a><a class="name block" title="{$follower['follower']}" target="_blank" href="{url user/space/$attention['uid']}">{$attention['username']}</a>
                    </div>
                       
                        <!--{/loop}-->
                    </section>
    
                              
 <div class="pagination" id="list-page">
                        <p class="pages">
                           {$departstr}
                        </p>
                    </div>
                      
                     </div>
                 </div>


             </div>
            </div>
           
            <!--右侧栏目-->
            <div class="col-sm-3 mar-t-2">


              

                <!--导航列表-->

               <!--{template user_menu}-->

                <!--结束导航标记-->


                <div>

                </div>


            </div>

        </div>

    </div>

</div>


<!--用户中心结束-->

<!--{template footer}-->