<!--{template header}-->

<!--{template searchinput}-->
   
   
   <section class="fixed-bar" id="fixed-bar">
    <div class="bar-zhezao">

    </div>
    <div class="ui-row-flex ui-whitespace ui-row-flex-ver bar-items">
  
        <div class="ui-col"><i class="ui-icon-home"></i></div>
        <div class="ui-col"><i class="ui-icon-gototop"></i></div>
    </div>
</section>
  
<script>
$('.ui-searchbar-wrap').addClass('focus');
$('.ui-searchbar-input input').focus();
</script>
<!--{template footer}-->