<!--{template header}-->

<section class="ui-container">
<div class="user-header-info">
    <ul class="ui-row">
        <li class="ui-col ui-col-25">
            <div class="ui-avatar-lg">
                <span style="background-image:url({$member['avatar']})"></span>
            </div>
        </li>
        <li class="ui-col ui-col-75">
              <p>
                  <span class="ui-txt-highlight user-name">{$member['username']}</span>
              </p>

                <ul class="ui-user-tiled">
                    <li><div>{$member['answers']}</div><i>回答</i></li>
                    <li><div>{$member['questions']}</div><i>提问</i></li>
                    <li><div>{$member['followers']}</div><i>粉丝</i></li>
                    <li><div>{$member['credit1']}</div><i>经验</i></li>
                    <li><div>{$member['credit2']}</div><i>财富</i></li>
                </ul>

        </li>
        <li class="ui-col ui-col-25">
         <!--{if $is_followed}-->
          <button class="ui-btn ui-btn-danger btn-edit button_followed" onclick="attentto_user($member['uid'])" id="attenttouser_{$member['uid']}">
               
                 取消关注
            </button>
          <!--{else}-->
           <button class="ui-btn ui-btn-danger btn-edit button_attention" onclick="attentto_user($member['uid'])" id="attenttouser_{$member['uid']}">
               +关注
            </button>
               <!--{/if}-->
           
        </li>
        </ul>
</div>
<div class="user-basic-info">
{if $member['signature']!=''}
 <span class="p-edit-tip">
   <a>签名:{$member['signature']}</a>
 </span>
   
{else}
<span class="p-edit-tip">
   <a>Ta还没给自己设置签名</a>
 </span>
{/if}
     
   
</div>
     <section class="user-content-list">
        <div class="ui-tab" id="tab1">
            <ul class="ui-tab-nav ui-border-b">
                <li class="current">提问</li>
                <li >回答</li>
                <li>文章</li>
              
                <li>关注的人</li>
            </ul>
            <ul class="ui-tab-content" style="width:400%">
                <li>
                       <ul class="ui-list ui-list-text ui-border-tb">
                         <!--{loop $questionlist $index $question}-->
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">
                  <a href="{url question/view/$question['id']}">{$question['title']}</a>
                    </h4>
                </div>
                <div class="ui-arrowlink "></div>
            </li>
             <!--{/loop}-->         


        </ul>
                
                </li>
                <li>
                 <ul class="ui-list ui-list-text ui-border-tb">
                           <!--{loop $answerlist $index $question}-->
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">
                  <a href="{url question/view/$question['qid']}">{$question['title']}</a>
                    </h4>
                </div>
                <div class="ui-arrowlink "></div>
            </li>
             <!--{/loop}-->         


        </ul>
                
                </li>
                <li>
                      <ul class="ui-list ui-list-text ui-border-tb">
                            <!--{loop $topiclist $index $topic}-->
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">
                <a href="{url article-$topic['id']}">{$topic['title']}</a>
                    </h4>
                </div>
                <div class="ui-arrowlink "></div>
            </li>
             <!--{/loop}-->         


        </ul>
                
                </li>
               
                <li>
                              <ul class="ui-list ui-list-one ui-list-link ui-border-tb">
                 {if $attentionlist==null}
                
               
    <p class="user-p-tip ui-txt-warning">  Ta还没有关注过其Ta人。</p>

                 {/if}
                    <!--{loop $attentionlist $index $follower}-->
    <li class="ui-border-t" onclick="window.location.href='{url user/space/$follower['uid']}'">
    
        <div class="ui-list-thumb">
            <span style="background-image:url({$follower['avatar']})"></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">{$follower['username']}</h4>
            <div class="ui-txt-info">
             <!--{if (1 == $follower['gender'])}--> 男 
            
             <!--{else}-->
             女
            <!--{/if}-->
            </div>
        </div>
    </li>
  <!--{/loop}-->    
</ul>
          
                
                </li>
            </ul>
        </div>
    </section>
</section>
<section class="fixed-bar" id="fixed-bar">
    <div class="bar-zhezao">

    </div>
    <div class="ui-row-flex ui-whitespace ui-row-flex-ver bar-items">
   
        <div class="ui-col"><i class="ui-icon-home"></i></div>
        <div class="ui-col"><i class="ui-icon-gototop"></i></div>
    </div>
</section>
<section id="script">
  
</section>
<!--{template footer}-->