  <div class="main-top">
  <a class="avatar" href="{url user/default}">
    <img src="{$user['avatar']}" alt="240">
</a>
    <a class="btn btn-success  follow" href="{url user/profile}"><i class="fa fa-gear"></i><span>个人设置</span></a>
  

  <div class="title">
    <a class="name" href="/u/yZq3ZV">{$user['username']}</a>
  </div>
  <div class="info">
    <ul>
      <li>
        <div class="meta-block">
          <a href="{url user/answer/1}">
            <p>{$user['answers']}</p>
            回答 <i class="fa fa-angle-right"></i>
</a>        </div>
      </li>
      <li>
        <div class="meta-block">
          <a href="{url user/ask/1}">
            <p>{$user['questions']}</p>
            提问 <i class="fa fa-angle-right"></i>
</a>        </div>
      </li>
        <li>
        <div class="meta-block">
         <a href="{url topic/userxinzhi/$user['uid']}">
            <p>{$user['articles']}</p>
            文章 <i class="fa fa-angle-right"></i>
</a>        </div>
      </li>
      <li>
        <div class="meta-block">
         
            <p>{$user['followers']}</p>
            粉丝 
       </div>
      </li>
      <li>
        <div class="meta-block">
         
            <p>{$user['attentions']}</p>
            关注用户
       </div>
      </li>
      <li>
        <div class="meta-block">
          <p>{$user['supports']}</p>
          <div>赞同</div>
        </div>
      </li>
          <li>
        <div class="meta-block">
          <p>{$user['credit1']}</p>
          <div>经验</div>
        </div>
      </li>
          <li>
        <div class="meta-block">
          <p>{$user['credit2']}</p>
          <div>财富</div>
        </div>
      </li>
    </ul>
  </div>
</div>
 <ul class="trigger-menu" data-pjax-container="#list-container">
 <li <!--{if $regular=="user/space"}--> class="active" <!--{/if}-->><a href="{url user/default}">
 <i class="fa fa-clipboard"></i> 动态</a>
 </li>
 <li <!--{if $regular=="user/space_answer"}--> class="active" <!--{/if}-->><a href="{url user/answer/1}"><i class="fa fa-commenting-o"></i> 回答</a></li>
 <li <!--{if $regular=="user/space_ask"}--> class="active" <!--{/if}-->><a href="{url user/ask/1}">
 <i class="fa fa-question-circle-o"></i> 提问</a>
 </li>
 <li <!--{if $regular=="topic/userxinzhi"}--> class="active" <!--{/if}-->><a href="{url topic/userxinzhi/$user['uid']}"><i class="fa fa-rss-square"></i> 文章</a></li>
  <li <!--{if $regular=="user/follower"}--> class="active" <!--{/if}-->><a href="{url user/follower}"><i class="fa fa-user-circle-o"></i> 粉丝</a></li>
 <li <!--{if $regular=="user/attention"}--> class="active" <!--{/if}-->>
  <!--{if $regular=="user/attention"&&$attentiontype!='question'}--> 
 <a href="{url user/attention}"  >
 <i class="fa fa-user-circle"></i>

  关注用户
   
  </a>
    <!--{else}-->
   <a href="{url user/attention/question}"  >
 <i class="fa fa-user-circle"></i>

  关注问题 
   
  </a>
  <!--{/if}-->
  
  </li>
 
 </ul>
