<!--{template header,admin}-->
<div style="width:100%; height:15px;color:#000;margin:0px 0px 10px;">
  <div style="float:left;"><a href="index.php?admin_main/stat{$setting['seo_suffix']}" target="main"><b>控制面板首页</b></a>&nbsp;&raquo;&nbsp;设置列表</div>
</div>
<!--{if isset($message)}-->
<!--{eval $type=isset($type)?$type:'correctmsg'; }-->
<div class="alert  alert-warning">{$message}</div>
<!--{/if}-->

		<form action="{SITE_URL}index.php?admin_totalset/index{$setting['seo_suffix']}" method="post">
			<table class="table">
				<tr class="header">
					<td colspan="2">全局参数设置</td>
				</tr>
				{if $setting['openwxpay']==1}
					<tr>
					<td class="altbg1" width="45%"><b>移动端打赏金额:</b><br><span class="smalltxt">默认0.1元，可以设置合适的打赏金额，不超过200元</span></td>
					<td class="altbg2"><input class="form-control shortinput" type="text" value="{$setting['mobile_shang']}" name="mobile_shang" /></td>
				</tr>
				{/if}
				<tr>
					<td class="altbg1" width="45%"><b>前台首页顶置数目:</b><br><span class="smalltxt">默认3条，不建议很多，首页顶置内容功能属于社交版，其它模板配置无效</span></td>
					<td class="altbg2"><input class="form-control shortinput" type="text" value="{$setting['list_topdatanum']}" name="list_topdatanum" /></td>
				</tr>
			    <tr>
					<td class="altbg1" width="45%"><b>后台问题管理显示数目:</b><br><span class="smalltxt">默认启用站点设置里全局列表数目设置项，此处如果配置会应用当前显示的设置</span></td>
					<td class="altbg2"><input class="form-control shortinput" type="text" value="{$setting['admin_list_default']}" name="admin_list_default" /></td>
				</tr>
					<tr>
					<td class="altbg1" width="45%"><b>问题详情页面回答数显示:</b><br><span class="smalltxt">默认3条，超过3条会分页</span></td>
					<td class="altbg2"><input class="form-control shortinput" type="text" value="{$setting['list_answernum']}" name="list_answernum" /></td>
				</tr>
			  <tr>
            <td class="altbg1" width="45%"><b>等级经验特权:</b><br><span class="smalltxt text-danger">如果经验值达到这个数值可以免去提问和回答还有发布文章还有站内评论验证码</span></td>
            <td class="altbg2"><input type="text" class="form-control shortinput" value="{if $setting['jingyan']<=0}0 {else}$setting['jingyan']{/if}" name="jingyan"></td>
        </tr>  
				  <tr>
            <td class="altbg1" width="45%"><b>禁用右键和复制内容:</b><br>
                <span class="smalltxt">要保护网站知识可以禁用鼠标右键和禁止选择内容复制</span></td>
            <td class="altbg2">
                <input class="radio inline" type="radio" {if 0==$setting['cancopy']}checked{/if} value="0" name="cancopy" >&nbsp;禁用&nbsp;&nbsp;
                       <input class="radio inline" type="radio" {if 1==$setting['cancopy']}checked{/if} value="1" name="cancopy" >&nbsp;启用&nbsp;&nbsp;
                       
            </td>
        </tr>
				
			</table>
			<br />
			<center><input type="submit" class="btn btn-success" name="submit" value="提 交"></center><br>
		</form>
<br />

<style>

html,body{
	overflow:scroll;
}
</style>
<!--{template footer,admin}-->